:root{
	/*--font-primary: "Montserrat", "Roboto", Arial, sans-serif;*/
	--font-primary: "Roboto", Arial, sans-serif;
	--mej-font-family: "Roboto", Arial, sans-serif;
	--dnd5e-font-roboto-slab:  "Roboto", "Montserrat", Arial, sans-serif;
	--dnd5e-font-modesto:  "Roboto Condensed", Arial, sans-serif;
	--dnd5e-color-beige: rgba(0,0,0,0.2);
	--color-text-dark: rgba(235,235,235,1);
	--color-text-dark-op: rgba(235,235,235,0.6);
	--color-text-hyperlink: #00aaaa;
	--color-control-bg: rgba(255,255,255,0.35);
	--dnd5e-border-groove: 1px solid rgba(0,0,0,0.35);
	--dnd5e-color-parchment: #f4efed;
}

/*********
Chat card layout - start 
**********/

.dnd5e2 .pill-lg{
	border: none !important;
}
.dnd5e2 .pills .pill {
	border: none !important;
}
.dnd5e2.chat-card .pills{
  gap: 0.15em;
}
:is(.chat-popout, #chat-log) .chat-message .ddb-game-log-chat-card .ddb-card-content a.inline-roll {
	border-radius: 6px;
	border: none;
	color: #4d97c9; 
}
.dnd5e2 .chat-message {
  border-radius: 6px;
  background: var(--dnd5e-background-card);
  box-shadow: 0 0 0px var(--dnd5e-shadow-45);
  border: 0;
  
}
.dnd5e2.chat-card .gold-icon,
.dnd5e2 :is(.card-tray, .effects-tray) .targets .target > img {
  border: 0;
  border-radius: 3px;
}
:is(.chat-popout, #chat-log, .chat-log) .chat-message.crlngn .tohit {
  color: #1b9af0;
}
:is(.chat-popout, #chat-log, .chat-log) .chat-message.crlngn .check {
  color: #b55dff;
}
:is(.chat-popout, #chat-log, .chat-log) .chat-message.crlngn .damage {
  color: #df7b7b;
}
:is(.chat-popout, #chat-log, .chat-log) .chat-message.crlngn .heal {
  color: #6cbf5b;
}
.dnd5e2 .chat-message.damage ul.target.unlist{
	width: calc(100% - 40px);
	flex: 1 1 calc(100% - 40px);
}


/* card headers */
/*.message.crlngn.ddbgl .dnd5e2.chat-card .card-header{
  max-height: 10000px;
}*/
.message.crlngn.ddbgl .dnd5e2.chat-card .card-header.collapsed{
  max-height: 0px;
  padding: 0;
}
.chat-message.message.ddb-game-log-open-card .ddb-game-log-chat-card {
  overflow: auto;
  /*max-height: 10000px;*/
}
:is(.chat-popout, #chat-log, .chat-log) .message.crlngn .message-header .message-sender {
  gap: 0.5em;
}
:is(.chat-popout, #chat-log, .chat-log) .chat-message.message .message-header .message-sender img,
:is(.chat-popout, #chat-log, .chat-log) .message.crlngn .message-header .message-sender img,
:is(.chat-popout, #chat-log, .chat-log) .message.crlngn .message-header .message-sender .avatar img {
  border-radius: 4px;
}

:is(.chat-popout, #chat-log, .chat-log) .message.crlngn.ddbgl  .message-header {
  font-size: var(--font-size-12);
  font-family: "Roboto", Arial, sans-serif;
}

:is(.chat-popout, #chat-log, .chat-log) .message.crlngn .message-header .subtitle {
  text-transform: uppercase;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 0.02em;
  margin-top:3px;
  font-size: var(--font-size-13);
  font-family: "Roboto", Arial, sans-serif;
}

:is(.chat-popout, #chat-log, .chat-log) .message:not(.ddbgl) .message-header .flavor-text {
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-size: var(--font-size-12);
  font-family: "Roboto", Arial, sans-serif;
  display: none !important;
}

/* content */
.dnd5e2.chat-card,
:is(.chat-popout, #chat-log, .chat-log) .message-content {
  line-height: 1.25;
}
.dnd5e2.chat-card .description {
	background: rgba(0,0,0,0.085);
  border: none;
}
.crlngn .dnd5e2.chat-card .description{
  border: none;
  line-height: 1.35;
}
.dnd5e2.chat-card .description.collapsible {
	background: rgba(255,255,255,0.7);
  border: none;
	padding: 0 8px;
	padding: 8px 12px;
}
.dnd5e2.chat-card .description .details > .wrapper {
	display: block;
	line-height: 1.4;
}
.dnd5e2.chat-card .description .details span,
.dnd5e2.chat-card .description .details span.reference-link{
	display: inline-block !important;
}
.dnd5e2.chat-card .description details {
	margin: 10px 0;
}
.dnd5e2.chat-card .description details summary{
	margin: 10px 0;
}
.chat-message .ddb-game-log-chat-card .ddb-card-content p{
  font-size: 11px;
}

.chat-message .message-content .dice-total, 
.chat-message.ddb-game-log-message .dice-total, 
.chat-message .message-content .dice-formula, 
.chat-message.ddb-game-log-message .dice-formula {
  border: 1px solid rgba(0,0,0,0);
  box-shadow: none;
  background: rgba(0,0,0,0,0.2);
}

/* card button layout */
.dnd5e2.chat-card .card-buttons {
  flex-direction: row;
  flex-wrap: wrap;
}
.dnd5e2.chat-card .card-buttons > * {
  flex: 1 1 calc((100% - 10px) / 2);
  min-width: calc((100% - 10px) / 2);
  width: 100%;
}
.dnd5e2.chat-card .card-buttons > * span {
  font-size: 0.9em;
}

.message.crlngn.ddbgl .dnd5e2.chat-card .card-buttons > button[data-action=rollAttack],
.message.crlngn.ddbgl .dnd5e2.chat-card .card-buttons > button[data-action=rollDamage]{
  display: none;
}

.dnd5e2.chat-card .card-buttons > button span {
  font-size: 0;
  align-self: center;
  display: inline-flex;
}

.dnd5e2.chat-card .card-buttons > button span:before {
  content: "";
  display: flex;
  font-size: 0.65rem;
}

.dnd5e2.chat-card .card-buttons > button[data-action=rollAttack] span:before {
  content: "attack";
}

.dnd5e2.chat-card .card-buttons > button[data-action=rollHealing] span:before {
  content: "healing";
}

.dnd5e2.chat-card .card-buttons > button[data-action=rollDamage] span:before {
  content: "damage";
}

.dnd5e2.chat-card .card-buttons > button[data-action=placeTemplate] span:before {
  content: "template";
}

.dnd5e2.chat-card .card-buttons > button[data-action=consumeResource] span:before {
  content: "consume";
}

.dnd5e2.chat-card .card-buttons > button[data-action=refundResource] span:before {
  content: "refund";
}

.dnd5e2.chat-card .card-buttons > button[data-action=rollSave] span.visible-dc:before {
  content: "saving throw";
}

/* effects / targets list */

.dnd5e2 :is(.card-tray, .effects-tray) .effects .effect:not(:last-child),
.dnd5e2 :is(.card-tray, .effects-tray) .targets .effect:not(:last-child),
.dnd5e2 :is(.card-tray, .effects-tray) .effects .target:not(:last-child),
.dnd5e2 :is(.card-tray, .effects-tray) .targets .target:not(:last-child) {
  margin-bottom: 6px;
} 
.dnd5e2 :is(.card-tray, .effects-tray) .target-source-control {
	margin: 4px 0 6px 0;
}
.dnd5e2 :is(.card-tray, .effects-tray) button:not(.unbutton),
.dnd5e2.chat-card button:not(.unbutton){
	min-height: 26px;
  font-size: 11px;
  padding: 5px;
}

/* dnd5e buttons */
.dnd5e2 :is(.card-tray, .effects-tray) .targets .target .damage-multipliers button::after, 
.dnd5e2.card-tray .targets .target .damage-multipliers button::after {
	display: none;
}
.dnd5e2 :is(.card-tray, .effects-tray) .targets .target .damage-multipliers button[aria-pressed="true"], 
.dnd5e2.card-tray .targets .target .damage-multipliers button[aria-pressed="true"] {
	box-shadow: 0 0 102px rgba(0,0,0,0.1);
	border: 1px solid var(--color-text-hyperlink);
}
.dnd5e2 :is(.card-tray, .effects-tray) .targets .target .damage-multipliers::before, 
.dnd5e2.card-tray .targets .target .damage-multipliers::before {
	display: none;
}
.dnd5e2 :is(.card-tray, .effects-tray) .targets .target .damage-multipliers, 
.dnd5e2.card-tray .targets .target .damage-multipliers {
	grid-template-columns: repeat(6, 1fr);
	margin-inline: 0;
}
.dnd5e2 :is(.card-tray, .effects-tray) > label, 
.dnd5e2.card-tray > label {
	padding: 8px 0 0 0;
}
/* Chat card layout - end */


/*********
DARK MODE 
**********/
/* CHAT MESSAGE CARD */
body[data-theme=dark] .chat-message,
body[data-ddb-custom-style=dark] .chat-message {
  background: #182026 !important;
  color: #8a9ba8;
  transition: border .2s ease-in-out;
  border: 2px solid #182026 !important;
}
body[data-theme=dark] .chat-message:before,
body[data-ddb-custom-style=dark] .chat-message:before {
  opacity: 0.2;
}
body[data-theme=dark] .chat-message .message-content,
body[data-ddb-custom-style=dark] .chat-message .message-content {
  color: #989fa5;
}
body[data-ddb-custom-style=dark] .chat-message.ddb-game-log-message .message-content .ddb-card-content a {
	color:#4d97c9;
}

/* headers */
body[data-theme=dark] .chat-message .message-header .title,
body[data-ddb-custom-style=dark] .chat-message .message-header .title {
  color: #8a9ba8 !important;
}
body[data-theme=dark] :is(.chat-popout, #chat-log, .chat-log) .message.crlngn .message-header .subtitle,
body[data-theme=dark] :is(.chat-popout, #chat-log, .chat-log) .message .flavor-text, 
body[data-ddb-custom-style=dark] :is(.chat-popout, #chat-log, .chat-log) .message.crlngn .message-header .subtitle,
body[data-ddb-custom-style=dark] :is(.chat-popout, #chat-log, .chat-log) .message .flavor-text {
  color: #fff;
}
body[data-theme=dark] .chat-message.crlngn:last-of-type.tohit,
body[data-ddb-custom-style=dark] .chat-message.crlngn:last-of-type.tohit{
  border:2px solid #1b9af0 !important;
}

/* message content */
body[data-ddb-custom-style="dark"] .chat-message.ddb-game-log-message .message-content .ddb-game-log-chat-card .ddb-card-content a {
	color:#4d97c9;
}

body[data-theme=dark] .dnd5e2 :is(.card-tray, .effects-tray) > label::before, 
body[data-theme=dark] .dnd5e2 :is(.card-tray, .effects-tray) > label::after ,
body[data-ddb-custom-style=dark] .dnd5e2 :is(.card-tray, .effects-tray) > label::before, 
body[data-ddb-custom-style=dark] .dnd5e2 :is(.card-tray, .effects-tray) > label::after {
	opacity: 0.35;
}

body[data-theme=dark] .chat-message .message-content .dice-result .dice-formula, 
body[data-theme=dark] .chat-message.ddb-game-log-message .dice-result .dice-formula,
body[data-theme=dark] .chat-message .message-content .dice-result .dice-total, 
body[data-theme=dark] .chat-message.ddb-game-log-message .dice-result .dice-total,
body[data-ddb-custom-style=dark] .chat-message .message-content .dice-result .dice-formula, 
body[data-ddb-custom-style=dark] .chat-message.ddb-game-log-message .dice-result .dice-formula,
body[data-ddb-custom-style=dark] .chat-message .message-content .dice-result .dice-total, 
body[data-ddb-custom-style=dark] .chat-message.ddb-game-log-message .dice-result .dice-total {
	border: 0;
	box-shadow: none;
	background: #202f3a;
}

body[data-theme=dark] .dice-result .dice-total::before,
body[data-ddb-custom-style=dark] .dice-result .dice-total::before {
	border-left: 1px solid var(--color-border-dark-1);
}
body[data-theme=dark] .dice-result .dice-total.success,
body[data-ddb-custom-style=dark] .dice-result .dice-total.success {
	border: 1px solid var(--dnd5e-color-success);
}
body[data-theme=dark] .chat-message.ddb-game-log-message .dice-formula, 
body[data-theme=dark] .chat-message.ddb-game-log-message .dice-total,
body[data-ddb-custom-style="dark"] .chat-message.ddb-game-log-message .dice-formula, 
body[data-ddb-custom-style="dark"] .chat-message.ddb-game-log-message .dice-total {
  border: 0;
}
body[data-theme=dark] .dice-result .dice-tooltip .tooltip-part,
body[data-ddb-custom-style=dark] .dice-result .dice-tooltip .tooltip-part {
    border-bottom: 1px solid var(--color-border-dark-1);
}
body[data-theme=dark] .dnd5e2.crlngn.chat-card .pills .pill,
body[data-ddb-custom-style=dark] .dnd5e2.crlngn.chat-card .pills .pill {
  background: #202f3a;
  color: #999;
  font-size: .7em;
  padding: .3em .4em .2em;
  font-weight: 300;
  letter-spacing: 0.03em;
}

body[data-theme=dark] .chat-message .message-content,
body[data-ddb-custom-style=dark] .chat-message .message-content {
  color: #cad1d6;
}
body[data-ddb-custom-style="dark"] .chat-message.ddb-game-log-message .dice-formula, 
body[data-ddb-custom-style="dark"] .chat-message.ddb-game-log-message .dice-total {
  border: 1px solid #000;
  box-shadow: none;
}

body[data-theme=dark] .chat-message .message-content .dice-total.success,
body[data-ddb-custom-style=dark] .chat-message .message-content .dice-total.success {
	border: 1px solid rgba(85, 200, 0, 0.3);
}

body[data-theme=dark] .chat-message .message-content .dice-total.miss,
body[data-theme=dark] .chat-message .message-content .dice-total.failure ,
body[data-ddb-custom-style=dark] .chat-message .message-content .dice-total.miss,
body[data-ddb-custom-style=dark] .chat-message .message-content .dice-total.failure {
	border: 1px solid rgba(255, 45, 45, 0.3);
} 

body[data-theme=dark] .chat-message .dice-result .dice-total.success,
body[data-theme=dark] .chat-message.ddb-game-log-message .dice-result .dice-total.critical
body[data-ddb-custom-style=dark] .chat-message .dice-result .dice-total.success,
body[data-ddb-custom-style=dark] .chat-message.ddb-game-log-message .dice-result .dice-total.critical {
	color: #d9ffbd;
}
/* bold highlights */
body[data-theme=dark] .dnd5e2.chat-card p.supplement > strong,
body[data-ddb-custom-style=dark] .dnd5e2.chat-card p.supplement > strong {
  color: rgba(155,155,155,1);
}

/* description and details */
body[data-theme=dark] .dnd5e2.chat-card .description,
body[data-ddb-custom-style=dark] .dnd5e2.chat-card .description {
	background: #182026;
	border: 0;
	padding: 0.4rem 0;
}
body[data-theme=dark] .dnd5e2.crlngn.chat-card .description .details,
body[data-ddb-custom-style=dark] .dnd5e2.crlngn.chat-card .description .details {
  color: #888;
  line-height: 1.2rem;
}
body[data-theme=dark] .chat-message .ddb-game-log-chat-card .ddb-item-name,
body[data-theme=dark] #sidebar .chat-message hr,
body[data-ddb-custom-style=dark] .chat-message .ddb-game-log-chat-card .ddb-item-name,
body[data-ddb-custom-style=dark] #sidebar .chat-message hr{
	border-color: rgba(0,0,0,0.5);
}

/* effects / targets list */

body[data-theme=dark] .dnd5e2 :is(.card-tray, .effects-tray) .target-source-control,
body[data-theme=dark] .dnd5e2.card-tray .target-source-control,
body[data-ddb-custom-style=dark] .dnd5e2 :is(.card-tray, .effects-tray) .target-source-control,
body[data-ddb-custom-style=dark] .dnd5e2.card-tray .target-source-control {
	margin: 4px 0 6px 0;
}

body[data-theme=dark] .dnd5e2 :is(.card-tray, .effects-tray) .target-source-control button, 
body[data-theme=dark] .dnd5e2.card-tray .target-source-control button,
body[data-ddb-custom-style=dark] .dnd5e2 :is(.card-tray, .effects-tray) .target-source-control button, 
body[data-ddb-custom-style=dark] .dnd5e2.card-tray .target-source-control button {
	color: var(--color-text-dark);
}

body[data-theme=dark] .dnd5e2:not(.chat-card, .create-document) button:not(.pip):hover, 
body[data-theme=dark] .dnd5e2.dnd5e-theme-dark button:not(.pip):hover,
body[data-ddb-custom-style=dark] .dnd5e2:not(.chat-card, .create-document) button:not(.pip):hover, 
body[data-ddb-custom-style=dark] .dnd5e2.dnd5e-theme-dark button:not(.pip):hover {
  border-color: rgba(0,0,0);
  background: #000;
  color: #ccc;
}

body[data-theme=dark] .dnd5e2 :is(.card-tray, .effects-tray) .target-source-control button:hover, 
body[data-theme=dark] .dnd5e2 :is(.card-tray, .effects-tray) .target-source-control button:focus, 
body[data-theme=dark] .dnd5e2 :is(.card-tray, .effects-tray) .target-source-control button[aria-pressed="true"], 
body[data-theme=dark] .dnd5e2.card-tray .target-source-control button[aria-pressed="true"],
body[data-ddb-custom-style=dark] .dnd5e2 :is(.card-tray, .effects-tray) .target-source-control button:hover, 
body[data-ddb-custom-style=dark] .dnd5e2 :is(.card-tray, .effects-tray) .target-source-control button:focus, 
body[data-ddb-custom-style=dark] .dnd5e2 :is(.card-tray, .effects-tray) .target-source-control button[aria-pressed="true"] {
  background: rgba(0,0,0,1);
  opacity: 1;
  color: #fff;
}

body[data-theme=dark] .dnd5e2 .effects .effect:not(:last-child), 
body[data-theme=dark] .dnd5e2 .targets .effect:not(:last-child), 
body[data-theme=dark] .dnd5e2 .effects .target:not(:last-child),
body[data-theme=dark] .dnd5e2 .targets .target:not(:last-child),
body[data-ddb-custom-style=dark] .dnd5e2 .effects .effect:not(:last-child), 
body[data-ddb-custom-style=dark] .dnd5e2 .targets .effect:not(:last-child), 
body[data-ddb-custom-style=dark] .dnd5e2 .effects .target:not(:last-child), 
body[data-ddb-custom-style=dark] .dnd5e2 .targets .target:not(:last-child) {
  border-bottom: 1px solid #000;
} 
body[data-theme=dark] :is(.chat-popout, #chat-log) .message .dnd5e2.evaluation .target,
body[data-ddb-custom-style=dark] :is(.chat-popout, #chat-log) .message .dnd5e2.evaluation .target {
	color: #fff;
  padding: 6px 8px;
}
body[data-theme=dark] :is(.chat-popout, #chat-log) .message .dnd5e2.evaluation .target.hit,
body[data-theme=dark] :is(.chat-popout, #chat-log) .message .dnd5e2.evaluation .target.success,
body[data-ddb-custom-style=dark] :is(.chat-popout, #chat-log) .message .dnd5e2.evaluation .target.hit,
body[data-ddb-custom-style=dark] :is(.chat-popout, #chat-log) .message .dnd5e2.evaluation .target.success {
	background-color:rgb(128, 170, 101, 0.6);
	border: 0;
}

body[data-theme=dark] :is(.chat-popout, #chat-log) .message .dnd5e2.evaluation .target.miss,
body[data-theme=dark] :is(.chat-popout, #chat-log) .message .dnd5e2.evaluation .target.failure,
body[data-ddb-custom-style=dark] :is(.chat-popout, #chat-log) .message .dnd5e2.evaluation .target.miss,
body[data-ddb-custom-style=dark] :is(.chat-popout, #chat-log) .message .dnd5e2.evaluation .target.failure {
	background-color:rgba(217, 116, 116, 0.6);
	border: 0;
} 

/* card buttons */
body[data-theme=dark] .dnd5e2 :is(.card-tray, .effects-tray) button:not(.unbutton),
body[data-theme=dark] .dnd5e2.chat-card button:not(.unbutton),
body[data-ddb-custom-style=dark] .dnd5e2 :is(.card-tray, .effects-tray) button:not(.unbutton),
body[data-ddb-custom-style=dark] .dnd5e2.chat-card button:not(.unbutton){
	background: rgb(32, 47, 58, 0.5); 
	border: 1px solid var(--color-border-dark-1); 
	color: var(--color-text-dark); 
}
body[data-theme=dark] .dnd5e2 :is(.card-tray, .effects-tray) button:hover ,
body[data-ddb-custom-style=dark] .dnd5e2 :is(.card-tray, .effects-tray) button:hover {
	box-shadow: none;
}
body[data-theme=dark] .dnd5e2 :is(.card-tray, .effects-tray) .targets .target .change-source > dnd5e-icon,
body[data-ddb-custom-style=dark] .dnd5e2 :is(.card-tray, .effects-tray) .targets .target .change-source > dnd5e-icon {
	filter: invert(1);
}

/* inline rolls  */
body[data-theme=dark] :is(.dnd5e2, .dnd5e2-journal) a:is(.content-link, .inline-roll) > i, 
body[data-theme=dark] :is(.dnd5e2, .dnd5e2-journal) :is(.roll-link, .reference-link) a > i,
body[data-theme=dark] .dnd5e2 .roll-link a i,
body[data-theme=dark] .dnd5e2 .reference-link a>i, 
body[data-theme=dark] .dnd5e2 .roll-link a i, 
body[data-theme=dark] .dnd5e2 .roll-link a>i, 
body[data-theme=dark] .dnd5e2 a.content-link>i, 
body[data-theme=dark] .dnd5e2 a.inline-roll>i, 
body[data-theme=dark] .dnd5e2-journal .reference-link a>i, 
body[data-theme=dark] .dnd5e2-journal .roll-link a>i, 
body[data-theme=dark] .dnd5e2-journal a.content-link>i, 
body[data-theme=dark] .dnd5e2-journal a.inline-roll>i,
body[data-ddb-custom-style=dark] :is(.dnd5e2, .dnd5e2-journal) a:is(.content-link, .inline-roll) > i, 
body[data-ddb-custom-style=dark] :is(.dnd5e2, .dnd5e2-journal) :is(.roll-link, .reference-link) a > i,
body[data-ddb-custom-style=dark] .dnd5e2 .roll-link a i,
body[data-ddb-custom-style=dark] .dnd5e2 .reference-link a>i, 
body[data-ddb-custom-style=dark] .dnd5e2 .roll-link a i, 
body[data-ddb-custom-style=dark] .dnd5e2 .roll-link a>i, 
body[data-ddb-custom-style=dark] .dnd5e2 a.content-link>i, 
body[data-ddb-custom-style=dark] .dnd5e2 a.inline-roll>i, 
body[data-ddb-custom-style=dark] .dnd5e2-journal .reference-link a>i, 
body[data-ddb-custom-style=dark] .dnd5e2-journal .roll-link a>i, 
body[data-ddb-custom-style=dark] .dnd5e2-journal a.content-link>i, 
body[data-ddb-custom-style=dark] .dnd5e2-journal a.inline-roll>i,
body[data-theme=dark] :is(.dnd5e2, .dnd5e2-journal) .message a > i,
body[data-ddb-custom-style=dark] :is(.dnd5e2, .dnd5e2-journal) .message a > i { 
  color: white;
  filter: brightness(100);
}